.header{
    background-color: #5ba5ef;
    height: 50px;
    border-radius: 5px;
}

.header a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    font-family: Tahoma;
}

#logout{
    float: right;
}

.header a:hover{
    background-color: #6493c1;
    color: white;
}

.header input[type=text]{
    position: relative;
    float: left;
    padding: 4px 4px;
    border: none;
    margin-top: 12px;
    margin-right: 16px;
    font-size: 18px;
    border-radius: 5px;
}

.border{
    border-style: solid;    
    border-radius: 10px;
    border-width: thin;
    border-color: grey;
}

#info{
    display:flex;
    flex-direction: row;
    height: 75px;
}

#avatarDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#avatarImg{
    position: relative;
    height: 50px;
    float: left;
    border-radius: 20px;
    margin-left: 10px;
}

.title{
    font-size: 40;
}

.vote{
    position: relative;
    float:right;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.voteComment{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.sharing{
    position: relative;
    margin-right: 5px;
    padding: 5px;
    border-right: .5px solid grey;
}

.profile{
    background: none;
    border: none;
    font-size: 15px;
}

.profile:hover{
    cursor: pointer;
    color: #5ba5ef;
}

.voteBtn{
    background: none;
    border: none;
}

.voteBtn:hover{
    border: solid .5px;
    border-color: #5ba5ef;
    cursor: pointer;
}

.voteImg{
    height: 20px;
}

.replyImg{
    height: 15px;
}

.contentContainer{
    height: auto;
    padding: 5px;
}

.content{
    margin-left: 10px;
    word-wrap: break-word;
}

.font{
    font-family: Tahoma;
}

#comments{
    height: auto;
    padding: 5px;
}

.inputComment{
    position: relative;
    font-family: Tahoma;
    font-size: 12;
    height: 75px;
    width: 99%;
    margin-left: 10px;
}

.CommentContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px; 
}

.commentProper{
    position: relative;
    font-family: Tahoma;
    font-size: 16;
    margin-left: 6px;
}

.replyContainer{
    position: relative;
    margin-top: 10px;
    margin-left: 6px;
}

.replyContainer:hover{
    cursor: pointer;
    color: #5ba5ef;
}

.indent1{
    position: relative;
    margin-left: 60px;
}

.indent2{
    position: relative;
    margin-left: 120px;
}

.indent3{
    position relative;
    margin-left:180px;
}