.background{
    /* Photo by Polina Raevskaya on Unsplash */
    background-image: url("sitebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 350;
    height: auto;
    font-family: Tahoma;
    color: white;
    border: solid;
    border-color: #5ba5ef;
    background-color: #1dc1d3;
    opacity: 0.8;
    font-size: 22px;
    margin: auto;
    margin-top: 200px;
    position: relative;
    border-radius: 50px;
    
    
}

li{
    margin-left: 30px;
    color: black;
    font-size: 18px;
    position: relative;
    margin-bottom: 2px;
}

.last{
    margin-bottom: 20px;
    position: relative;
}

p{
    margin: 2px;
    padding: 2px;
    font-weight: bold;
    font-size: 22px;
    margin-left: -20px;
    margin-bottom: 5px;
    margin-top: 10px;
    position: relative;
}

.title{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    position: relative;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

ul{
    margin-top: 0px;
}